@import url("https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');
/*font styles */
.spicy-rice-regular {
  font-family: "Spicy Rice", serif;
  font-weight: 400;
  font-style: normal;
}
.gloock-regular {
  font-family: "Gloock", serif;
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth; /* Enable smooth scrolling */
 
}

#hero,
#aboutMe,
#projects,
#contact {
  scroll-margin-top: 120px;
}


/* Header stays at the top */
header {
  flex-shrink: 0;
}

/* Main content expands to fill available space */
.main-content {
  flex-grow: 1;
  padding: 20px;

  overflow-x: hidden;
  max-width: 100%; 
  font-family: Georgia, 'Times New Roman', Times, serif
  
}

/* Footer stays at the bottom */
footer {
  flex-shrink: 0;
}

/*for the welcome message*/
.word {
  display: inline-block; /* Inline-block to animate words individually */
  margin: 0 0.2rem;
  font-weight: bold;
  letter-spacing: .3rem;
}


/* Style for sections to prevent overflow */
section {
  width: 100%; 
  overflow: hidden; 
  box-sizing: border-box; 
}



/* Media query for screens between 1024px and 1200px */
@media (min-width: 1024px) and (max-width: 1200px) {
  .main-content {
    margin: 0px 150px; 
    padding: 18px; 
  }
}

/* Responsive design for tablets and smaller screens (1024px and below) */
@media (max-width: 1024px) {
  .main-content {
    margin: 0px 50px;
    padding: 15px;
  }
}

/* Responsive design for mobile screens (768px and below) */
@media (max-width: 768px) {
  .main-content {
    margin: 0px 20px;
    padding: 10px;
  }
}